<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dad Jokes</title>
    <link rel="stylesheet" href="{% static 'dadjokes/style_v2.css' %}?v=2" />
  </head>
  <body>
    <h1>Dad Jokes</h1>
    <nav>
      <a href="{% url 'dadjokes_home' %}">Home</a>
      <a href="{% url 'dadjokes_random' %}">Random</a>
      <a href="{% url 'dadjokes_jokes' %}">All Jokes</a>
      <a href="{% url 'dadjokes_pictures' %}">All Pictures</a>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
