{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quote of the Day</title>
  <link rel="stylesheet" href="{% static 'quotes/styles.css' %}">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1>Quote of the Day</h1>
      <nav class="nav">
        <a href="{% url 'quote' %}">Home</a>
    <a href="{% url 'quote2' %}">New Quote</a>
    <a href="{% url 'show_all' %}">Show All</a>
    <a href="{% url 'about' %}">About</a>

      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>CS412 Quotes App</p>
    </div>
  </footer>
</body>
</html>
